<!DOCTYPE html>
<html >
<head>
    <title>Finote</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/semantic.css">
</head>
<body>
