<!DOCTYPE html>
<html >
<head>
    <title>Finote</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
        <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> 
        	        <i class="fa fa-bars"></i> 
                 </button>
                <a href="/campgrounds" class="navbar-brand">Finote Birhan</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){%>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <%}else{%>
                        <li><a href="#">Signed in as <%=currentUser.username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <%}%>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length>0) {%>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
        <%}%>
        <% if(success && success.length>0) {%>
        <div class="alert alert-success" role="alert">
            <%=success%>
        </div>
        <%}%>
    </div>    

