<% include ./partials/_header %>
<style>
    body{
    /*background: url('../img/bg.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar-default{
    background: transparent;
    border: none;
}
.navbar-default .navbar-brand{
    color: #43a7a4e6;
}
.navbar-collapse > ul{
    color: #43a7a4e6;
}
.navbar-toggle{
    background-color: #43a7a4e6;
}
</style>
    <h1>Landing page</h1>

    <p>welcome to landing page</p>
    
    <a href="/campgrounds">go to campground page</a>
    
<% include ./partials/_footer %>

